@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 8px;
}
body {
    background-color: #f5f5f5;
    margin: 0;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
}

header {
    height: 70px;
    background-color: #0f1626;
    position: fixed;
    width: 100%;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 20px;
}

header a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.page-container {
    min-height: 100vh;
    padding-top: 70px;
}

main {
    margin: 10px 10% 60px 220px;
    padding: 8px 25px;
}

aside {
    width: 190px;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #18243fef, #30415dc7);
    padding-top: 10px;
    font-size: 20px;
}

aside a {
    display: block;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 35px;
}

.logo {
    margin-left: 5px;
    font-size: 26px;
}

p {
    line-height: 170%;
    border-left: 6px solid #ff533d;
    padding-left: 12px;
}

.row {
    overflow: auto;
}

[class^="col-"] {
    float: left;
    padding: 5px;
}

.col-10 { width: 10%; }
.col-20 { width: 20%; }
.col-30 { width: 30%; }
.col-40 { width: 40%; }
.col-50 { width: 50%; }
.col-60 { width: 60%; }
.col-70 { width: 70%; }
.col-80 { width: 80%; }
.col-90 { width: 90%; }
.col-100 { width: 100%; }

.title {
    border-bottom: 4px solid #ff533d;
    margin-bottom: 5px;
    margin-top: 10px;
    display: inline-block;
}

.intro-video {
    display: block;
   max-height: 50vh;
    margin: 40px auto;
    max-width: 100%;
    border-radius: 8px;
}

.galery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.galery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s;
}

.galery img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

.row-event {
    margin-top: 15px;
}

.event {
    padding: 0px 15px 15px 15px;
    background-color:#e9e9e9;
    border-radius: 5px;
    border: 1px solid #ff533d;
    height: 250px;
    overflow-y: scroll;
}

.contact-list {
    line-break: 200%;
    list-style: linear-gradient(#ff533d, #ff533d);
}

.map {
    height: 100%;
    max-width: 500px;
    height: 324px;
    border-radius: 5px;
    border: 2px solid #ff533d ;
}

.centered {
    text-align: center;
}

.contact-form {
    background-color: #ebebeb;
    border-radius: 5px;
    border: 2px solid #ff533d;
    margin-bottom: 15px;
    max-width: 480px;
    padding: 5px 15px 30px 15px;
}

.contact-form input, .contact-form textarea {
    display: block;
    width: 90%;
    margin: 15px auto 0px auto;
    resize: none;
    font-family: inherit;
    padding: 3px;
    font-size: 16px;
}

#meniu-btn {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 25px;
    top: 22px;
    display: none;
}

.show {
    display: block !important;
}

@media (max-width: 768px) {

    body {
        font-size: 15px;
    }

    [class^="col-"] {
        width: 100%;
    }

    main {
        margin: 0px;
        padding: 10px 15px 20px 15px;
    }

    aside {
        display: none;
        height: auto;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 25px;
    }

    .galery img {
        width: 130px;
        height: 130px;
    }

    #meniu-btn {
        display: block;
    }

}